@charset "utf-8";
/* CSS Document */
*{margin:0;padding:0;
  }
.header{text-align:center;
        background:#338593;
		padding:40px;
		}
.author{
	color:#333;
	font-size:1.5em;
	display:inline-block;
}
.header p span{
	color:#000;
	font-size:3em;}
.author,.photo{float:right;
			   right:100px;}
.header img{width:128px;
            height:85px;
			display:inline-block;
			}
.header hr{display:inline-block;
           width:100px;
		   margin:0 100px;
		   border:1px solid #000;
		   }

.main{margin:50px 100px;
      }
#tdc{width:100px;
     height:100px;
	 display:inline-block;
	 float:right;
	 margin:50px 200px;}
.main li{font-weight:bold;
         background:#338593;
		 padding:10px;
		 margin:20px;}
.Personal p img{width:40px;
                height:40px;}
.school table{width:800px;
	          border:2px solid #70c8ea;
              text-align:center;
			  margin:40px auto;
			  
			  
			  }
.school table td{padding:10px;}
.experience table{width:1000px;
                  text-align:center;
			      margin:40px auto;
                   }
.experience hr{border:1px solid #338593;
	           height:0px;
               }
.appraisal p{text-indent:1.5em;
             margin:20px 200px;}
.footer{text-align:center;
        background:#338593}